/.gradle/*
/.idea/*
/build/*
/gradle/*
/logs/*

# Created by .ignore support plugin (hsz.mobi)
.gradle
build
logs
out
.idea
# Eclipse project files
.settings
.classpath
.factorypath
.project

*/target/*
